@import "tailwindcss";

/* Global Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #334155;
    /* slate-700 */
    border-radius: 99px;
    border: 2px solid #0F0F12;
    /* Padding effect by matching bg */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #475569;
    /* slate-600 */
}

/* Firefox support */
* {
    scrollbar-width: thin;
    scrollbar-color: #334155 transparent;
}